API_ID=8686284
API_HASH=7110ae077d17a409b92718e44e9a4ad8
BOT_TOKEN=5169334094:AAHgNDYr0xuyTtdYesJAhRgzdpVdz4PL4VY
SESSION_STRING=BQAMpEF7dsLL3Nbumt68EVJVqLmNRjP13GdNRmY2ZbSIZmpVDIJ4uMCs-xbEtcu8f4p0X7fO6hG2H9vBP2TWDdQkMEQ_GNwZ3hSguUTh_599LjM981jrZXR9oEu7OoPtk-Z-oowA2IZiO9fuUgMuoDWu-qKQqEOqMBlSk-MCyonoU6zDICb0iwFQEyavjvFHYUz8D8zA29p6hGurdI8TkoT_Jyj_8N0Q8VFPAfGvDO2HKYJUGDb5FTjirI-p4DxGAWn_Q_sUgS6FJ4GK4SZxHNuVhJVzNpRNYfOp2OdQb6iHlwE1mYPVyJsv9n0lFKhdtT7DsLmD8Wk8SU_BLabhOWmWAAAAASp-iUwA
CHAT=-1001578688931
LOG_GROUP=-1001735800422
ADMINS=1844303560 9876543210
